@model IEnumerable<Assignment2.Models.BillPay>

@{
    ViewData["Title"] = "Payee List";
}
@functions{
    public string RenderTimeLocale(DateTime dateTime)
    {
        var datePatt = "dd/MM/yyyy hh:mm:ss tt";
        return dateTime.ToLocalTime().ToString(datePatt);
    }
}

<h3>Scheduled Payment</h3>

<p>
    <a asp-action="Create">Create New Scheduled Payment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var active = item.ScheduleDate;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payee.PayeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @RenderTimeLocale(item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td style="color: darkred">
                    @Html.DisplayFor(modelItem => item.StatusMessage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BillPayID">Modify</a> |
                    <a asp-action="Delete" asp-route-id="@item.BillPayID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
